# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'distcc/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('distcc:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.distcc.update(os_family_map) %}

{## Merge in distcc:lookup pillar ##}
{% set distcc = salt['pillar.get'](
        'distcc',
        default=default_settings.distcc,
        merge=True
    )
%}
